<div align='center'>
    <h2>Consulta De Ventas</h2>
    </div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">ID VENTA</th>
            <th scope="col">FECHA DE VENTA</th>
            <th scope="col">TOTAL</th>
            
          </tr>
        </thead>
        <tbody>
          <!--<tr *ngFor="let venta of ventas|filtroProducto:searchText; index as i ">
            <th scope="row">{{ i + 1 }}</th>
            <td>{{ venta.codigoV }} </td>
            <td>{{ venta.productoId }}</td>
            <td>{{ venta.productoNombre }}</td>
            <td>{{ venta.fechadeventa }}</td>
            <td>{{ venta.precioV }}</td>
            <td>{{ venta.cantidadV }}</td>
            <td>{{ venta.totalV }}</td>
      
          </tr>-->

          <tr *ngFor="let ventaViewModel of ventaViewModels; index as i">
            <td scope="row">{{ i + 1 }}</td>
            <td >{{ ventaViewModel.ventaId | number }}</td>
            <td >{{ ventaViewModel.fechadeventa }}</td>
            <td >{{ ventaViewModel.total | number}}</td>
            <!--<td><a routerLink="/taskedit/{{task.id}}">ver</a></td> -->
          </tr>

        </tbody>
      </table>
